:root {
  --light-mode-background-color: white;
  --light-mode-text-color: black;
  --dark-mode-background-color: #1a1a1c;
  --dark-mode-text-color: white;
}

#light * {
  background-color: white;
}

#dark * {
  background-color: var(--dark-mode-background-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#dark .coin-currency {
  color: white;
}

#dark .coin-currency {
  color: black;
}
.coin-search {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

/* #dark .coin-app {
  background-color: var(--dark-mode-background-color);
}
#light .coin-app {
  background-color: white;
} */

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  width: 900px;
}

#dark .coin-row {
  border-bottom: 1px solid white;
}

#light .coin-row {
  border-bottom: 1px solid black;
}

/* coin styling  */
.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

#dark .coin {
  color: white;
}
#light .coin {
  color: black;
}

.coin h1 {
  font: size 16px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

#dark .coin-data {
  color: white;
}

#light .coin-data {
  color: black;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 200px;
}

.coin-marketcap {
  width: 240px;
}

.coin-percent {
  width: 80px;
}

.red {
  color: red;
}

.green {
  color: green;
}
/* switch */

.switch {
  display: flex;
  width: 50vw;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: var(--light-mode-text-color);
}

#dark .switch label {
  color: var(--dark-mode-text-color);
}

.red {
  color: red;
}

.green {
  color: green;
}
